.wrapper
  .news グループを作成しました
  .chat-side
    .side-header
      .side-header__box
        %p.side-header__box--user-name yuuuuu
        %ul.side-header__box--menu
          %li.side-header__box--menu--new-group 
            = fa_icon 'edit', class: 'icon'
          %li.side-header__box--menu--edit-user 
            = fa_icon 'cog', class: 'icon'
    .groups
      .group
        %p.group__group-name グループ名
        %p.group__latest-message 最新メッセージ
  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group グループ名
        %ul.main-header__left-box__menber-list 
          Member : 
          %li.main-header__left-box__menber-list__menber メンバー名
      .main-header__edit-btn Edit
    .messages
      .message
        .message__upper-info
          %p.message__upper-info__talker name
          %p.message__upper-info__date 2019/10/20(Sun) 17:26:17
        %p.message__text  メッセージ内容
    %form.form
      .new-message
        .new-message__input
          %input.new-message__input{:placeholder => "Type a message"}
            %label{:for => "file-button", }
              %i
              =fa_icon 'image', class:'image-icon'
            %input{:id => "file-button", :type => "file"}
        %button.submit-btn Send

      
        